body {
	background-image: url("assets/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#auto_chooser {
	position: absolute;
	left: 40%;
	top: 50%;
}

#cam_1 {
	border-style: solid;
	border-width: 3px;
	position: absolute;
	top: 5%;
	left: 5%;
}

#cam_2 {
	border-style: solid;
	border-width: 3px;
	position: absolute;
	top: 5%;
	right:5%;
}

.climb {
	background-image: url("assets/button_sp.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 7%;
	right: 10%;
	height: 150px;
	width: 150px;
	-webkit-appearance: none;
	opacity: 1;
}

.climbing {
	background-image: url("assets/button_pressed_sp.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 7%;
	right: 10%;
	height: 150px;
	width: 150px;
	-webkit-appearance: none;
	opacity: 1;
}





