body {
	background-image: url("assets/background_alt.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#logo {
	position: absolute;
	left: 40%;
	top: 10%;
}

#auto_chooser {
	position: absolute;
	left: 40%;
	top: 50%;
	color: white;
}

#cam_1 {
	border-style: solid;
	border-width: 4px;
	border-color: rgb(150,150,0);
	position: absolute;
	top: 5%;
	left: 5%;
}

#cam_2 {
	border-style: solid;
	border-width: 4px;
	border-color: rgb(150,150,0);
	position: absolute;
	top: 5%;
	right:5%;
}

.climb {
	background-image: url("assets/button_sp.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 7%;
	right: 10%;
	height: 150px;
	width: 150px;
	-webkit-appearance: none;
	opacity: 1;
}

.climbing {
	background-image: url("assets/button_pressed_sp_2.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 7%;
	right: 10%;
	height: 150px;
	width: 150px;
	-webkit-appearance: none;
	opacity: 1;
}

.airship {
	fill: gray;
	position: absolute;
	left: 8%;
	bottom: 2%;
}

.rope_right{
	background-image: url("assets/button_sp.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 21%;
	left: 29%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}

.rope_left{
	background-image: url("assets/button_sp.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 21%;
	left: 5%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}

.rope_top{
	background-image: url("assets/button_sp.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 40%;
	left: 17%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}

.rope_bottom{
	background-image: url("assets/button_sp.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 1%;
	left: 17%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}

.rope_right.pressed{
	background-image: url("assets/button_pressed_sp_2.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 21%;
	left: 29%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}

.rope_left.pressed{
	background-image: url("assets/button_pressed_sp_2.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 21%;
	left: 5%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}

.rope_top.pressed{
	background-image: url("assets/button_pressed_sp_2.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 40%;
	left: 17%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}

.rope_bottom.pressed{
	background-image: url("assets/button_pressed_sp_2.png");
	background-size: 100% 100%;
	position: absolute;
	bottom: 1%;
	left: 17%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0);
	border: none;
	-webkit-appearance: none;
}